header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: #EEE4B1; 
    background-color: #5F374B; 
    border-style: solid;
    border-radius: 10;
    text-align: center;
    width: max-content;
    padding: 10px;
    margin: 10px;
}

body{
    background-color: #430A5D;
    color: #EEE4B1;
}

a {
    color: #EEE4B1;
}

