header {
    color: burlywood; 
    background-color: rgb(7, 60, 81); 
    border-style: solid;
    border-radius: 10px;
    text-align: center;
}

body{
    background-color: rgb(36, 33, 33);
}

li {
    color: burlywood;
}

