body {
    background-color: var(--color-background-body);
    color: var(--color-text-body);
    font-family: var(--font-family-body);
    display: grid;
    grid-template-columns: repeat(7, 1fr) ;
    grid-template-rows: [start] 150px [line2] 100px [line3] 40px [line4] 70px [end] auto;
}

header {
    display: contents;
    grid-row: 1 / 2;
}

.main-header {
    justify-self: center;
    grid-column: 3 / 6;
    font-family: var(--font-family-header);
    font-size: var(--font-size-xlarge);
    color: var(--color-text-header);
    background-color: var(--color-background-header);
    border-style: solid;
    border-radius: var(--border-radius-header);
    text-align: center;
    width: max-content;
    padding: 10px;
    margin: auto;
}

.login {
    justify-self: center;
    grid-column: 6 / 8;
    font-size: var(--font-size-medium);
    color: var(--color-text-body);
    background-color: var(--color-background-button);
    font-family: var(--font-family-body);
    border-style: solid;
    border-radius: var(--border-radius-header);
    text-align: center;
    width: max-content;
    padding: 8px;
    margin: auto;
}

main {
    display: contents;
    color: var(--color-text-body);
}

.play_song {
    color: var(--color-text-body);
    grid-row: line2;
    grid-column: 4 / 5;
    font-size: var(--font-size-medium);
    background-color: var(--color-background-button);
    border-style: solid;
    border-radius: var(--border-radius-header);
    text-align: center;
    width: max-content;
    padding: 8px;
    margin: auto;
}

.favorites {
    display: contents;
}

.checkout {
    grid-row: line3;
    grid-column: 4;
    justify-self: center;
}

.songs {
    color: var(--color-text-body);
    grid-row: line4;
    grid-column: 3;
    justify-self: right;
}

.artists {
    color: var(--color-text-body);
    grid-row: line4;
    grid-column: 4;
    justify-self: center;
}

.genres {
    color: var(--color-text-body);
    grid-row: line4;
    grid-column: 5;
    justify-self: left;
}

.about {
    color: var(--color-text-body);
    grid-row: 5;
    grid-column: 4 / 5;
    justify-self: center;
}










