:root {
    --color-text-body: #b2b2ac;
    --color-text-header: #a97b5b;
    --color-background-header: #22075a;
    --color-background-body: #12161b;
    --color-background-button: #22075a;

    --font-family-header: "Bitter", "IBM PLex Serif", serif;
    --font-family-body: "Lato", "Open Sans", sans-serif;
    --font-size-xlarge: 60px;
    --font-size-large: 40px;
    --font-size-medium: 25px;
    --font-size-small: 18px;

    --border-radius-header: 15px;

}